.boxnama{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btntes{
  display: flex;
  justify-content: center;
  margin: 5px;
}
button{
  width: 130px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #47bbf1;
  border-radius: 0px;
  background-color: #47bbf1;
  color: white;
}
input{
  height: 30px;
  width: 150px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.title{
  display: flex;
  justify-content: center;
}
#hasil{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
p{
  display: flex;
  justify-content: center;
}
.all{
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  width: 300px;
  height: 440px;
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
}
#karbit{
  margin-left: 40px;
  transform: scale(0.20);
  transform-origin: top left;
}
}
.gmbr{
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  overflow: hidden;
}